</br>
</br>
<div class="col-md-12 col-sm-12">
<div class="row">

<div class="col-md-3 col-sm-3">
<div class="w3-panel w3-card w3-responsive">

<h5 class=""><b></b></h5>
</br>
<h3 class=""><b><%=@user.fullname.first(20).capitalize%></b></h3>
<h4 class=""><%=@user.business_type%></h4>
<h5 class=""><%=@user.country.first(25).capitalize%></h5>
<h5 class=""><%=@user.email.first(30).capitalize%></h5>
<h5 class=""><%=@user.mobile_number.first(20).capitalize%></h5>
</div>
</div>


<div class="col-md-9 col-sm-9">
<div class="w3-panel w3-card w3-responsive">
<div class="w3-container w3-padding">
<h5 class="minivetexim"><b>Business Information</b></h5>
<%if @user.profiles.length == 0%>
<% if user_signed_in? %>
<% if current_user.id == @user.id%>
<h5 class=""><%=link_to"Add Business Information.",new_profile_path,class: "w3-btn w3-green w3-button w3-border w3-hover-blue-grey"%></h5>
<%end%>
<%end%>
<%end%>

<%@user.profiles.each do |data| %>
<p><b>Product : </b><%=data.product_name%></p>
<p><b>Company : </b><%=data.company_name%></p>
<p><b>Minimun Order : </b><%=data.minimun_order%></p>
<p><b>Target Country : </b><%=data.target_country%></p>
<p><b>Company Info : </b><%=data.about_company%></p>
<% if current_user == data.user %>
<div class="d-flex align-items-center justify-content-start">
    <%= link_to "Edit", edit_profile_path(user_id: @user.id, profile_id: data.id), class: "btn btn-info mr-3"%>
    <%= button_to 'Delete', profile_path(data), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<%end%>
<%end%>
</div>
</div>
</div>

</div>
</div>


<div class="col-md-12 col-sm-12 w3-light-grey">
<div class="row">
<div class="w3-panel w3-card w3-responsive">
<h5 class="eximsuare"><b>Message sent as an Inquiry</b></h5>

<%@connect_buyer.each do |buyer|%>
<div class="col-md-4 col-sm-4">
<div class="w3-panel w3-card w3-responsive">
<div class="w3-container w3-padding">
<p><%=buyer.name%></p>
<p><%=buyer.email%></p>
<p><%=buyer.country%></p>
<p><%=buyer.Phone_number%></p>
<p><%=buyer.product_detail%>
<%=buyer.message%>
<% if current_user == buyer.user %>
<p><%= link_to "Delete", connect_buyer_path(buyer), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
<%= link_to "Edit", edit_connect_buyer_path(buyer), class: "btn btn-default"%></p>
</div>
</div>
</div>
<%end%>
<%end%>
</div>
</div>
</div>





