

<div id="Dairy">
<div class="cerals w3-hide-small">

<div class="w3-container w3-col m6 w3-hide-small">
<h5><b><i class="fa fa-dashboard"></i>Cereal</b></h5>
</div>

<div class="w3-row-padding w3-margin-bottom">
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("cheese-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),cheese_path)%></i>
<h4><b><%=link_to"Cheese",cheese_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("Cocoa-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),cocoa_path)%></i>
<h4><b><%=link_to"Cocoa",cocoa_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("yerba_mate-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),yerba_mate_path)%></i>
<h4><b><%=link_to"Yerba Mate",yerba_mate_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("egg-min.png",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),egg_path)%></i>
<h4><b><%=link_to"Egg",egg_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("honey-min.png",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),honey_path)%></i>
<h4><b><%=link_to"Honey",honey_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("olive_oil-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),olive_oil_path)%></i>
<h4><b><%=link_to"Olive Oil",olive_oil_path%></b></h4>
</div>
</div>
</div>
</div>  

<div class="w3-row-padding w3-margin-bottom">
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("tobacco-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),tobacco_path)%></i>
<h4><b><%=link_to"Tobacco",tobacco_path%></b></h4>
</div>
</div>
</div>
</div>  

</div>
</div>

