Cereal
Vegetables
Fruits
Dairy
Drinks
Meat
Nuts
Spices
Fibers

<td><b>Cereal</b></td>				
<tr>		
<td><b>barley<td><b>		
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russia(18.2M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Germany(12.3M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>France(10.4M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ukraine(9.95M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Australia(8.6M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Canada(8.1M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Spain(7.6M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(6.7M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>UK(6.4M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(4.3M)</b></td>
<tr>		
<tr>		
<td><b>Buckwheat</b></td>		
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russia(892.16K)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(503.99K)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ukraine(97.64K)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>US(86.40K)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Brazil(65.12K)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Japan(44.80K)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Kazakhstan(40.09K)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Belarus (28.30K)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Tanzania(25.77K)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Canada(18.9k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Belgium(16.0k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Nepal(11.44k)</b></td>
</tr>

<tr>
<td><b>Canary-seeds</b></td>		
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Canada(69.18%)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Thailand(14.60%)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Argentina(7.98%)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(4.87%)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Australia(1.93%)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Uruguay(1.41%)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Morocco(0.08%)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mexico(0%)</b></td>
</tr>		


<tr>		
<td><b>Fonio</b></td>		
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Guinea(619.2k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Nigeria(94.8k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mali(44.9k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Côte-d'Ivoire(20.8k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Burkina Faso(10.6k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Niger(6.34k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Senegal(1.12k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Benin(1.4k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Guinea-Bissau(742)</b></td>
</tr>


<tr>
<td><b>Maize(corn)</b></td>		
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>US(392.5m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(257.3m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Brazil(82.3m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Argentina(43.5m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ukraine(35.8m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Indonesia(30.3m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(27.8m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mexico(27.2m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Romania(18.7m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Canada(13.9m)</b></td>
</tr>


<tr>
<td><b>Millet</b></td>		
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(12.49M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Niger(3.51M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(2.30M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Nigeria(2.00M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mali(1.92M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ethiopia(1.22M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Senegal(1.14M)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Burkina-Faso(957.00K)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Chad(686.58K)</b></td>
</tr>		
		
		
<tr>		
<td><b>Oats</b></td>		
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russian(4.7m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Canada(3.8m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Poland(1.4m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Australia(1.2m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Finland(1.03m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(944k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Spain(884k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Brazil(878k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>UK(818k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Argentina(798k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Sweden(768k)</b></td>
</tr>


<tr>		
<td><b>Quinoa</b></td>		
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Peru(117.3k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Bolivia(78.8k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ecuador(0.9k)</b></td>
</tr>		

<tr>
<td><b>Rice/Paddy</b></td>		
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(208.3m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(162.6m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Indonesia(79m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Vietnam(48.1m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Thailand(38.8m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Bangladesh(34.8m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Myanmar(34m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Philippines(19m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Brazil(12.5m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Japan(10.9m)</b></td>
</tr>

<tr>
<td><b>Rye</b></td>		
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>European-Union(63.4m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Germany(23.1m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Poland(21.7m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russia(19.8m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(10.8m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Belarus(5.2m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Denmark(4.9m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ukraine(3.9m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Spain(3.9m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(3.4m)</b></td>
</tr>


<tr>
<td><b>Sorghum</b></td>		
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>US(11.5m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(7.5m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Nigeria(7.4m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mexico(6.1m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Sudan(4.4m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Sudan-former(3.7m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(3.1m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Argentina(2.9m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ethiopia(2.2m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Australia(1.9m)</b></td>
</tr>


<tr>		
<td><b>Triticale</b></td>		
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Poland(4.09m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Germany(1.94m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>France(1.38m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Belarus(1.01m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Spain(0.65m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russia(0.4m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Romania(0.34m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Hungary(0.33m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Austria(0.28m)</b></td>
</tr>


<tr>
<td><b>Weath</b></td>		
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(135m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(103m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russia(77m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>US(50m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>France(40m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Canada(34m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ukraine(28m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Pakistan(26m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Australia(24m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Argentina(21m)</b></td>
</tr>

<tr>		
<td><b>Cotten</b></td>		
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(6.1m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(5.5m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>US(4.1m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Brazil(1.9m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Pakistan(1.7m)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Uzbekistan(792k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(711k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Australia(644k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Benin(314k)</b></td>
<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Greece(304k)</b></td>
</tr>		
		
Vegetables		
		
<tr>		
<td><b>Lettuce & chicory</b></td>		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(14.32M)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(4.40M)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(1.12M)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Spain(969.06K)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Italy(735.47K)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Japan(580.55K)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mexico(541.80K)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Belgium(538.90K)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(520.15K)</b></td>
	<tr>    		
		
<tr>		
<td><b>Lentil</b></td>		
      		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Canada(3.4m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(1.08m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(366k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(264k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Nepal(254k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Australia(192k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ethiopia(168k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Bangladesh(154k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(144k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Kazakhstan(139k)</b></td>
 	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Syria(112k)</b></td>
<tr>
	 <tr>		
	 <td><b>Dry Bean</b></td>		

     <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Myanmar(3.9m)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(3.6m)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Brazil(2.9m)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(1.4m)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mexico(1.2m)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Tanzania(1.1m)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USAs(1.1m)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Kenya(529k)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Uganda(461k)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Rwanda(43k)</b></td>
	<tr>	
		
		
		
	 <tr>		
	 <td><b>onion</b></td>		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(20.2m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(13.4m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>United States(3.3m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Egypt(2.2m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Iran(1.92m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(1.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Pakistan(1.7m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Brazil(1.5.5m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russia(15.3m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>South Korea(14.1m)</b></td>
	<tr>	
		
		
	<tr>		
	<td><b>Cabbage and other brassicas</b></td>		
		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(32.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(8.5m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russia(3.3m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Japan(2.3m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>South Korea(2.1m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ukraine(1.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Indonesia(1.4m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Poland(1.1m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Romania(990k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(964k)</b></td>
	<tr>	
		
		
	<tr>		
	<td><b>Green Bean</b></td>		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(6.3m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Myanmar(5.3m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Brazil(3.0m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(1.6m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(1.33m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(1.32m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mexico(1.18m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Tanzania(1.14m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Uganda(1.2m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Kenya(846k)</b></td>
	<tr>	
		
<tr>		
<td><b>Green pea</b></td>		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(12.5m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(5.3m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(243k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>France(227k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Egypt(189k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Pakistan(151k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Peru(131k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Algeria(130k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>United Kingdom(129k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russian(117k)</b></td>
	<tr>	
		
<tr>		
<td><b>Chickpea</b></td>		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(7.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Australia(874k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Myanmar(558k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Pakistan(518k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(456k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ethiopia(444k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russian(318k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Iran(178k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mexico(124k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(108k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Canada(104k)</b></td>
	<tr>	
<tr>		
<td><b>pulses</b></td>		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India</b></td>	
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Canada</b></td>	
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Myanmar</b></td>	
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China</b></td>	
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Nigeria</b></td>	
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Brazil</b></td>	
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Australia</b></td>	
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA</b></td>	
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russia</b></td>	
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Tanzania</b></td>	
	<tr>	
		
		
<tr>		
<td><b>Cauliflower and Broccoli</b></td> 		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(9.1m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(7.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Spain(540k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mexico(481k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Italy(381k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>France(337k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(288k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Poland(276k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Pakistan(229k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Egypt(178k)</b></td>
	<tr>	
		
		
<tr>		
<td><b>Eggplant</b></td>		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(28m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(13m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Egypt(1.2m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(828k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Iran(733k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Indonesia(545k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Iraq(519k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Japan(321k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Italy(302k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Philippines(219k)</b></td>
	<tr>	
		
<tr>		
<td><b>potato</b></td>		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(99.2m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(49.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russian(29.5m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ukraine(22.2m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(20.1m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Germany(11.7m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Bangladesh(10.2m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Poland(9.1m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Netherlands(7.39m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>France(7.34m)</b></td>
	<tr>	
		
		
<tr>		
<td><b>SPINACH</b></td>		
		
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(28.61M)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(387.43K)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Kenya(244.34K)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(221.52K)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Japan(218.28K)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Indonesia (167.02K)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Italy(99.97K)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Iran(98.66K)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>France(97.11K)</b></td>
	 <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Pakistan(88.97k)</b></td>
	<tr>	      
		
		
<tr>		
<td><b>Cassava</b></td> 		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Nigeria(47.4m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Thailand(30.1m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Indonesia(24.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Brazil(21.4m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Angola(16.4m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ghana(15.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Congo(14.6m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Viet Nam(9.7m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Cambodia(7.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(7.2m)</b></td>
	<tr>	
		
		
<tr>		
<td><b>Soybean</b></td>		
		
    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(118m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Brazil(98m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Argentina(59m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(15m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(12m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Paraguay(9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Canada(5m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ukraine(4m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Bolivia(3.2m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russian(3.1m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Uruguay(2.4m)</b></td>
	<tr>	
		
		
<tr>		
<td><b>Carrots and Turnips Produced</b></td>		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(16.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Uzbekistan(1.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russia(1.6m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(1.4m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ukraine(930k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Poland(742k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>UK(696k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Japan(600k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Germany(583k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(568k)</b></td>
	<tr>	
		
		
<tr>		
<td><b>Cucumber</b></td> 		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(56m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Iran(2.2m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(1.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russia(1.7m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mexico(1.7m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ukraine(985k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Uzbekistan(857k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(700k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Spain(643k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Japan(550k)</b></td>
	<tr>	
		
		
<tr>		
<td><b>Ginger Production</b></td>		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(1.1m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Nigeria(522k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(499k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Indonesia(344k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Nepal(276k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Thailand(172k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Cameroon(79.9k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Bangladesh(77.6k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Japan(62.8k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mali(38.6k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Taiwan(28.1k)</b></td>
	<tr>	
		
<tr>		
<td><b>Pumpkin, squash and gourd</b></td>		
		
    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(7.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(5.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russian(1.22m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ukraine(1.20m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(1.05m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mexico(678k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Indonesia(604k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Italy(588k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Cuba(518k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(499k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Spain(476k)</b></td>
	<tr>	
		
<tr>		
<td><b>rapeseed producers</b></td>		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Canada(18.6m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(13.5m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(9.3m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>France(3.5m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Pakistan(3.3m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Germany(2.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Australia(2.4m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Poland(2.3m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russia(2.1m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>UK(1.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(1.6m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Czech-Republic(1.2m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Hungary(0.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Romania(0.8m)</b></td>
	<tr>	
		
<tr>		
<td><b>Safflower</b></td>		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Kazakhstan(174k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(109k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(95k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mexico(91k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Argentina(49k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(45k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russian(41k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(32k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Uzbekistan(25k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Tanzania(13k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Kyrgyzstan(12k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ethiopia(8k)</b></td>
	<tr>	
<tr>		
<td><b>Sunflower seed</b></td>		
		
 	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ukraine(13.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russian(11.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Argentina(3.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(2.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Romania(2.2m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Bulgaria(1.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Turkey(1.6m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Hungary(1.5m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(1.)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>France(1.1m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Tanzania(898k)</b></td>
	<tr>	
		
		
<tr>		
<td><b>Yams</b></td>		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Nigeria(32.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ghana(6.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ivory Coast(5.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Benin(2.7m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ethiopia(1.5m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Togo(878k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Cameroon(547k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>African-Republic(480k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Chad(440k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Cuba(368k)</b></td>
	<tr>	
		
 <tr>		
<td><b>Sugar Production</b></td> 		
		
	    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Brazil(37.4m)</b></td>
	    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(26.8m)</b></td>
	    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(11.8m)</b></td>
	    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Thailand(10.2m)</b></td>
	    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>United States(7.6m)</b></td>
	    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Pakistan(6.2m)</b></td>
	    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mexico(6.1m)</b></td>
	    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Russia(5.4m)</b></td>
	    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>France(4.6m)</b></td>
	    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Australia(4.3m)</b></td>
	    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Guatemala(2.7m)</b></td>
	    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Colombia(2.3m)</b></td>
	    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Philippines(2.2m)</b></td>
	    <td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ukraine(2.1m)</b></td>
		<tr>
<tr>		
<td><b>Sweet Potato</b></td> 		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(70.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Nigeria(3.89m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Tanzania(3.40m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ethiopia(2.89m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Indonesia(2.34m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Uganda(1.88m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Vietnam(1.48m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>USA(1.34m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(1.087m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Rwanda(1.080m)</b></td>
	<tr>	
<tr>		
<td><b>Sesame Seed Production</b></td>		
		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Myanmar(78.5m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(75.5m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Tanzania(66.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Nigeria(58.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>China(39.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ethiopia(29.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Burkina Faso(24.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>South Sudan(20.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Chad(17.6m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Uganda(14.4m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Niger(8.24m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mozambique(6.59m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mexico(5.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mali(4.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Cameroon(4.1m)</b></td>
   	<tr>	
 		
 <tr>		
<td><b>Okra Production</b></td>		
   		
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>India(5.8m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Nigeria(1.9m)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Sudan(288k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Mali(244k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Pakistan(118k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Côte-d'Ivoire(116k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Cameroon(92k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Ghana(62k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Egypt(57k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Malaysia(55k)</b></td>
	<td><span><%=image_tag ("tn_rs-flag.gif"),:size => "40x20" %></span><b>Saudi-Arabia(46k)</b></td>
<tr>

Apricots Country Production Quantity (in Tonnes)	Production Value
	
	1	Turkey(676K)
	2	Iran(452k)	
	3	Uzbekistan(356K)	
	4	Algeria(285K)	
	5	Italy(263K)	
	6	Pakistan(189K)
	7	Morocco(159K)
	8	France(155)
	9	Ukraine(119K)
	10	Japan(106K)
	11	Egypt(96K)
	12	Spain(86K)
	13	Greece(82K)
	14	Syrian(75K)
	15	USA(60K)

	Olive top producing countries	
	
	Spain(6.7M)	
	Italy(2.8M)
	Morocco(1.9M)
	Turkey(1.6)
	Greece(1.4)
	Egypt(1.1)
	Portugal(997K)
	Tunisia(876K)
	Algeria(868k)
	Syria(844K)
	Argentina(325K)
	Jordan(214k)
	Peru(190K)
	USA(151K)
	Libya(140K)



Pear ProductionList of Countries by 
Country	Production (Tons)	Production per Person (Kg)	Acreage (Hectare)	Yield (Kg / Hectare)
	China(19.4M)
	Argentina(905K)
	USA(738K)
	Italy(701K)
	Turkey(472K)
	South Africa(433K)
	India(399K)
	Netherlands(374K)
	Spain(366K)
	Belgium(331K)
	Chile(299K)
	Japan(278K)
	Iran(254K)
	South Korea(238K)



	
List of Countries by Banana Production
Country	Production (Tons)	Production per Person (Kg)	Acreage (Hectare)	Yield (Kg / Hectare)
	India(29.1M)	
	China(13.3M)
	Indonesia(7M)
	Brazil(6.7M)
	Ecuador(6.5M)
	Philippines(5.8M)
	Angola(3.8M)
	Guatemala(3.7M)
	Tanzania(3.5(
	Rwanda(3.0M)
	Costa Rica(2.4M)
	Mexico(2.3M)
	Colombia(2.0M)
	Vietnam(1.9M)


	Mango, mangosteen, guava
	#	101 Countries	Metric Tons	Last	YoY	5‑years CAGR	

	India(25.6M)
	Indonesia(3.2M)
	China(2.5M)
	Mexico(2.3M)
	Pakistan(2.2M)
	Malawi(2.0M)
	Brazil(1.9M)
	Thailand(1.6M)
	Egypt(1.4M)
	Bangladesh(1.4M)
	Vietnam(1.1M)
	Nigeria(946M)
	Kenya(867M)
	Mali(814M)
	Philippines(753M)

	Country Coconut
2023 Population 
India(1,428M)
China(1,425M)
United States(339M)
Indonesia(277M)
Pakistan(240M)
Nigeria(223M)
Brazil(216M)
Bangladesh(172M)
Russia(144M)
Mexico(128M)
Ethiopia(126M)
Japan(123M)
Philippines(117M)
Egypt(112M)
Dr Congo(102M)
Vietnam(98M)
Iran(89M)




List of Countries by Figs Production
Country	Production (Tons)	Production per Person (Kg)	Acreage (Hectare)	Yield (Kg / Hectare)
	Turkey(305K)
	Egypt(167K)
	Algeria(131K)
	Iran(70K)
	Morocco(59K)
	Syria(43K)
	USA(31K)
	Brazil(26K)
	Spain(25K)
	Tunisia(22K)
	Albania(20K)
	India(14K)
	Japan(14K)
	China(14K)
	Italy(11K)
	Libya(10K)


	
List of Countries by Grape Production

	China(14,8M)	
	Italy(8.2M)
	United States of America(7.0M)
	France(6.2M)
	Spain(5.9M)
	Turkey(4.0M)
	India(2.5M)
	Chile(2.4M)
	Iran(2.4M)
	South Africa(2.0M)
	Australia(1.7M)
	Argentina(1.6M)
	Egypt(1.6M)
	Uzbekistan(1.5M)
	Germany(1.2M)
	Greece(990k)
	Brazil(984k)

	Orange

	Brazil(17.2M)
	China(8.5M)
	India(7.5M)
	United States of America(5.1M)
	Mexico(4.6M)
	Egypt(3.4M)
	Spain(3.1M)
	Indonesia(2.1M)
	Iran(1.9M)
	Turkey(1.8M)
	Pakistan(1.5M)
	Italy(1.4M)
	South Africa(1.3M)
	Argentina(1.0M)
	Greece(918k)

 

	List of Countries by Papaya Production

	India(5.6M)
		Brazil(1.4M)
		Mexico(951k)	
		Indonesia(904k)	
		Dominican Republic(863k)	
		Nigeria(836k)	
		Congo-Kinshasa(215k)
		Cuba(212k)	
		Colombia(188k)	
		Thailand(169k)
		Peru(169k)
		Philippines(162k)
		Venezuela(160k)	
		China(156k)


		Peach And Nectarine Production

		China(14.4M)
		Spain(1.5M)
		Italy(1.4M)
		United States of America(927K)
		Iran(863K)
		Greece(847K)
		Turkey(674K)
		Chile(337K)
		India(287K)
		Egypt(266K)
		Argentina(248K)
		South Korea(230K)
		Uzbekistan(226K)
		France(207K)
		Brazil(191K)
		South Africa(179K)

      
		Apple Production.

		China(42.4M)
		United States of America(4.9M)
		Turkey(3.6M)
		Poland(3.0M)
		India(2.3M)
		Italy(2.3M)
		Iran(2.2M)
		Russian Federation(1.9M)
		France(1.7M)
		Chile(1.6M)
		Brazil(1.2M)
		Ukraine(1.1M)
		Uzbekistan(1.1M)
		Germany(991K)
		South Africa(891K)
		

       
List of Countries by Pineapple Production

    Costa Rica(2.9M)
	Brazil(2.6M)
	Philippines(2.6M)
	China(2.0M)
	India(1.9M)
	Thailand(1.8M)
	Nigeria(1.5M)
	Indonesia(1.3M)
	Mexico(875K)
	Colombia(755K)
	Ghana(661K)
	Angola(644K)
	Vietnam(555K)
	Taiwan(527K)
	Peru(461K)


	Gooseberry

	1	Indonesia(18M)
	2	Philippines(15M)
	3	India(11M)
	4	Brazil(2.9M)
	5	SriLanka(2.1M)
	6	VietNam(1,3M)
	7	Papua New Guinea(1,2M)
	8	Mexico(1,1M)
	9	Thailand(1,0M)
	10	Malaysia(624K)
	11	Tanzania(530K)
	12	Myanmar(510K)
	13	Vanuatu(395K)
	14	Solomon Islands(384K)
	15	Ghana(366K)


	
List of Countries by Lemon Production

    India(2.9M)
	Mexico(2.4M)
	China(2.3M)
	Argentina(1.6M)
	Brazil(1.2M)
	Spain(857K)
	Turkey(850K)
	United States of America(822K)
	Iran(457K)
	Italy(379K)
	Egypt(341K)
	South Africa(323K)
	Peru(282K)
	Sudan(270K)
	Syria(180K)
	Colombia(144K)



	List of Countries by Raspberry Production
	
		Russian (164K)
		USA(137K)
		Poland(129K)
		Mexico(112K)
		Serbia(61K)
		Ukraine(31K)
		Bosnia and Herzegovina(22K)
		Chile(19K)
		Spain(17K)
		United Kingdom(14K)
		Azerbaijan(12K)
		Canada(10K)
		Bulgaria(8K)
		Germany(5K)
		France(4K)
		Norway(2.5K)
		Switzerland(2K)
		
		

	
List of Countries by Strawberry Production

	China(3.8M)
	United States of America(1.4M)
	Mexico(468K)
	Egypt(464K)
	Turkey(415K)
	Spain(366K)
	Russian Federation(197K)
	Poland(196K)
	South Korea(196K)
	Japan(159K)
	Germany(143K)
	Morocco(136K)
	Italy(131K)
	United Kingdom(118K)
	Belarus(87K)
	Ukraine(61K)




	List of Countries by Kiwi Production

		China(2.3M
		Italy(523k)
		New Zealand(434k)
		Iran(294k)
		Chile(225k)
		Greece(182k)
		France(65k)
		Turkey(43k)
		United States of America(28k)
		Japan(25k)
		Spain(22k)
		Portugal(21k)
		South Korea(9k)
		Israel(3k)
		Australia(2k)
		Montenegro (1k)

        currant

		1	Global(687.47K)
		2	Russia(436.90K)
		3	Poland(146.50K)
		4	Ukraine(25.79K)
		5	United Kingdom(16.38K)
		6	Germany(11.97K)
		7	France(11.40K)
		8	Netherlands(7.60K)
		9	Austria(4.73K)
		10	New Zealand(4.46K)
		

        Dates
			
		Egypt(1.6M)
		Saudi Arabia(1.5M)	
		Iran(1.3M)	
		Algeria(1.1M)	
		Iraq(639K)	
		Pakistan(483K)
		Oman(372K)
		UAE(323K)	
		Tunisia(288K)	
		Libya(174K)	
		China(172K)	
		Kuwait(105K)	
		Morocco(101K)	
		Yemen(K)
		United States(55K)
		Israel(43K)
		Turkey(41K)
		Qatar(25K)
		Jordan(23K)



		List of Countries by Cherry Production

		    Turkey(599K)
			USA(288K)
			Iran(220K)
			Chile(123K)
			Uzbekistan(95K)
			Italy(94K)
			Spain(94K)
			Romania(73K)
			Greece(71K)
			Syria(69K)
			Ukraine(63K)
			Poland(53K)
			Russian(46K)
			Bulgaria(38K)
			China(37K)
		
List of Countries by Avocado Production

    Mexico(1.8M)
	Dominican Republic(601k)
	Peru(455k)
	Colombia(309k)
	Indonesia(304k)
	Brazil(195k)
	Kenya(176k)
	United States of America(172k)
	Chile(137k)
	China(122k)
	Guatemala(122k)
	Israel(101k)
	Haiti(93k)
	Venezuela(90k)
	Spain(88k)



	The Top Quince Producing Nations In The World
	Rank	Country	Quince Production (in metric tons)
	1	Turkey(135K)
	2	China(125K)
	3	Uzbekistan(80K)
	4	Morocco(46K)
	5	Iran(36K)
	6	Argentina(27K)
	7	Azerbaijan(27K)
	8	Spain(14K)
	9	Serbia(10K)
	10	Algeria(9K)
	
	

 Watermelon Production

    China(79.2M)
	Turkey(3.9M)
	Iran(3.8M)
	Brazil(2.0M)
	Uzbekistan(1.9M)
	Algeria(1.8M)
	United States of America(1.8M)
	Russian Federation(1.7M)
	Egypt(1.6M)
	Mexico(1.4M)
	Kazakhstan(1.3M)
	Vietnam(1.1M)
	Spain(969K)
	Afghanistan(862K)
	South Korea(652K)
	Tajikistan(594K)




	List of Countries by Plum Production

    	China(6.6M)
		Romania(512K)
		Serbia(463K)
		United States of America(392K)
		Turkey(297K)
		Chile(294K)
		Iran(269K)
		India(261K)
		Spain(222K)
		Italy(220K)
		France(211K)
		Ukraine(178K)
		Russian Federation(164K)
		Argentina(156K)
		Uzbekistan(134K)
		Bosnia and Herzegovina(131K)


	
List of Countries by Blueberry Production

    USA(269K)
	Canada(178K)
	Mexico(29K)
	Poland(14K)
	Germany(10K)
	France(9K)
	The Netherlands(7K)
	Portugal(6K)
	Spain(5K)
	Australia(3.9K)
	Russian Federation(3.2K)
	New Zealand(3.1K)
	Peru(3K)
	Romania(2K)
	Italy(1.6K)
	Ukraine(1.2K)
	Uzbekistan(701)
	Switzerland(416)


milk  bafello

1	India(70M)
2	Pakistan(24M)
3	China(3M)
4	Egypt(2M)
5	Nepal(1M)
6	Myanmar(309K)
7	Italy(194K)
8	Sri Lanka(65K)
9	Iran(65K)
10	Turkey(51K)


milk (Goat)

1	India(5M)
2	Bangladesh(2M)
3	Sudan(1M)
4	Pakistan(801K)
5	Mali(720K)
6	France(580K)
7	Spain(471K)
8	Turkey(415K)
9	Somalia(400K)
10	Greece(340K)


Milk (Sheep)

Turkey(1,5M)	
China(1,1M)
Greece(944K)
Syria(574K)
Spain(563K)
Italy(493K)
Romania(425K)
Algeria(421K)
Somalia(395K)
Iran(325K)
France(321K)
India(226K)
Mali(176K)
Afghanistan(171K)
Indonesia(167K)

Milk (camel)

2	Kenya(1.12M)
3	Somalia(968.62K)
4	Mali(271.00K)
5	Ethiopia(243.43K)
6	Saudi Arabia(135.93K)
7	Niger(112.00K)
8	Sudan(63.02K)
9	UAE(58.18K)
10	Chad(32.64K)


Milk (cow)

India(102M)
China(44.5M)
Russia(40M) 
Brazil(32M)
New Zealand(29M)
United Kingdom(22M)
Mexico(19M) 
Argentina(15M) 
Canada(13M) 
Australia (11M) 
Ukraine(9.2M) 
Belarus(8.9M)
Japan(8.2M)
South Korea(7.1M)
Taiwa(2M)




	
total milk


World Milk Production by Country

	India(187M)
	United States of America(98M)
	Pakistan(45M)
	China(35M)
	Brazil(34M)
	Germany(33M)
	Russian Federation(30M)
	France(26M)
	Turkey(22M)
	New Zealand(21M)
	United Kingdom(15M)
	Poland(14M)
	Italy(12M)
	Mexico(11M)
	The Netherlands(10M)
	
	

	
  Tea

	Rank	Country	Production in Tons
	1	China(2M)
	2	India(1.2M)
	3	Kenya(432M)
	4	Sri Lanka(340M)
	5	Vietnam(214M)
	6	Turkey(212M)
	7	Iran(160M)
	8	Indonesia(148M)
	9	Argentina(105M)
	10	Japan(84M)
	11	Thailand(75M)
	12	Bangladesh(64M)
	13	Malawi(54M)
	14	Uganda(53M)
	15	Burundi(41M)



coffee


List of Countries by Coffee Production

    Brazil(3.0M)
	Vietnam(1.4M)
	Colombia(745K)
	Indonesia(639K)
	Ethiopia(469K)
	Honduras(362K)
	India(348K)
	Peru(277K)
	Guatemala(236K)
	Uganda(203K)
	Mexico(151K)
	Laos(136K)
	China(114K)
	Nicaragua(112K)
	Côte-d'Ivoire(102K)



	World Wine Production by Country

     	Italy(4.7M)
		Spain(4.6M)
		France(4.2M)
		United States of America(3.3M)
		China(1.7M)
		Argentina(1.4M)
		Chile(1.2M)
		Australia(1.1M)
		South Africa(1.1M)
		Germany(920K)
		Portugal(603K)
		Romania(378K)
		Greece(334K)
		Russian Federation(327K)
		New Zealand(320K)
		Brazil(273K)

     

		World Beer Production by Country
		
			China(49.7M)
			United States of America(22.6M)
			Brazil(14M)
			Germany(8.7M)
			Mexico(8.5M)
			United Kingdom(4.1M)
			Poland(3.9M)
			Spain(3.3M)
			South Africa(3.1M)
			Japan(2.9M)
			Nigeria(2.7M)
			Ukraine(2.4M)
			The Netherlands(2.3M)
			Thailand(2.2M)
			South Korea(2M




Meat camel
	
Saudi Arabia(108K)	
Kenya(102K)
Somalia(47K)	
United Arab Emirates(34K)	
Ethiopia(32K)
China(28K)	
Mauritania(25K)	
Mali(20K)
Oman(16K)
Mongolia(12K)	
Niger(10K)
Egypt(8K)
Chad(7K)	
Kazakhstan(6.9K)	
Algeria(6.5K)



Chicken Meat

#	204 Countries	Metric Tons	Last	YoY	5‑years CAGR	
1	
United States(22.8)
2	
China(21.1M)
Brazil(14.1M)
Russia(4.6M)
India(4.2M)
Indonesia(3.5M)
Mexico(3.4M)
Poland(2.5M)
Japan(2.2M)
Iran(2.1M)
Argentina(2M)
Turkey(2M)
United Kingdom(1.9M)
Myanmar(1.8M)
South Africa(1.8M)
Thailand(1.7M)


Beef meat 


United States(12,3
2	
Brazil(10.2M)
China(5.9M)
Argentina(3.1M)
Australia(2.3M)
Mexico(2.1M)
Russia(1.6M)
France(1.4M)
Canada(1.3M)
Pakistan(1.1M)
Germany(1.1M)
Turkey(1M)
South Africa(1M)
Uzbekistan(938K)
United Kingdom(924K)



Buffalo Meat

	
India(1.6M)	
Pakistan(1.0M)
China(658K)	
Egypt(365K)
Nepal(188K)	
Philippines(101K)	
Vietnam(94K)
Myanmar(54K)	
Indonesia(23K)
Italy(21K)
Laos(20K)2	
Thailand(17K)
Cambodia(6.8K)
Colombia(6.1)
Iraq(6K)

Horse Meat Gross

#	67 Countries	Million US Dollars	Last	YoY	5‑years CAGR	
1	
China(957K)
Kazakhstan(467K)
Mexico(194K)
United States(136K)
Kyrgyzstan(99K)
Canada(88K)
Mongolia(87K)
Russia(64K)
Japan(54K)
Australia(37K)
Poland(35K)
Ireland(29K)
Italy(22K)
Chile(21K)	
Brazil(21K)

Pork Production

#	23 Countries	Thousand Metric Tons	Last	YoY	5‑years CAGR	

China(42M)	
United States(12M)
Brazil(4M)
Russia(3.9M)	
Canada(2.6M)
Vietnam(2.4M)
Mexico(1.6M)
South Korea(1.5M)
Philippines(1,4M)
Japan(1.2M)
Argentina(676K)
Ukraine(602k)
Chile(529K)
Colombia(410K)
Australia(380K)
Indonesia(324K)
South Africa(265K)
Switzerland(220K)
Norway(130K)
Kazakhstan(86K)


Sheep Meat

	
China(16.6M)	
Australia(6.8M)	
India(6.1M)	
Nigeria(4.3M)
Iran(3.9M)
United Kingdom(3.4M)
Chad(3.4M)	
Turkey(3.3M)
Ethiopia(3.2M)
Mongolia(3.1M)	
Pakistan(3.0M)	
Algeria(2.9M)	
New Zealand(2.6M)
Russia(2.2M)	
South Africa(2,2M)
Morocco(2,0M)


Rabbit Meat

	
China(461.3K)
Egypt(175.3K)	
Italy(173.8K)	
France(168.0K)	
Czech Republic(152.5K)		
Spain(112.9K)		
South Korea(33.1K)	
Russia(29.4K)		
Ukraine(27.6K)
Bulgaria(27.2K)	
Greece(24.9K)
Germany(23.2K)	
Venezuela(17.6K)	
Hungary(17.6K)	
Switzerland(15.2K)
Kenya(14.9K)


Goat meat

1	Global(6.13M)
2	China(2.31M)
3	India(554.81K)
4	Pakistan(504.00K)
5	Nigeria(261.11K)
6	Bangladesh(231.15K)
7	Ethiopia(147.74K)
8	Chad(132.30K)
9	Mongolia(129.16K)
10	Sudan(121.01K)



Guinea Fowl and Goose Meat 


China(979K)
Poland(90K)	
Madagascar(89K)	
Hungary(73K)	
Egypt(54K)	
Germany(32K)
United Kingdom(27K)	
Iran(13K)	
France(12K)	
Israel(11K)	
Turkey(9K)
Austria(6K)
Canada(3K)	
Ireland(2,9K)
Laos(2K)

Turkey Meat Production



USA(2.63M)
Brazil(613)
Germany(471)
Poland(385)
France(317)
Italy(300)
Spain(212)
Canada(165)
United Kingdom(152)
Israel(94)
Chile(84)
Morocco(78)
Hungary(77)
Tunisia(76)
Turkey(59)

Duck Meat

Austria(7,3k)
Brunei(6,0k)
Turkey(5,1k)
Germany(5,0k)
Fiji(4,7k)
Panama(4,4k)
Suriname(4,3k)
Spain(3,6k)
Indonesia(3,1k)
Norway(2,9k)
Egypt(2,6k)
Nepal(2,5k)
Croatia(2,4k)
China(2,3k)
Philippines(2,1k)




 Almond Production
	
	USA(2.7M)
	Spain(416K)
	Iran(321K)
	Morocco(212k)	
	Syria(128K)	
	Turkey(95K)
	Italy(74K)
	Australia(72K)
	Algeria(66K)
	Tunisia(61K)
	China(47K)
	Libya(33K)
	Afghanistan(32K)
	Lebanon(31K)
	Chile(30k)



	Country	Cashew Production (mt)

	
	India(743K)
	Ivory Coast(492K)
	Vietnam(383K)
	Burundi(283K)
	Philippines(242K)
	Tanzania(225K)
	Benin(204K)
	Mali(167K)
	Guinea-Bissau(166K)
	Brazil(138K)
	Burkina Faso(136K)
	Indonesia(134K)
	Mozambique(107K)
	Nigeria(100K)
	Ghana(85K)
	Sri Lanka(35K)
	Guinea(21K)
	
	
	
Top Countries in Brazil Nuts Production


Brazil(68K)
Bolivia(31K)
Ivory Coast(27K)
Peru(18K)

Hazelnuts Production
	
Turkey(776.0M)
Italy(98.5M)
Azerbaijan(53.7M)
United States(39.9M)
Chile(35.0M)
China(29.3M)
Georgia(24.0M)
Iran(16.1M)
Spain(12.3M)
France(11.6M)
Poland(5,4M)
Kyrgyzstan(5,3M)
Serbia(4,9M)
Uzbekistan(4,8M)
Croatia(1,9M)60.00	



List of Countries by Chestnut Production

China(1.8k)
Bolivia(84.8k)
Turkey(64.7k)
South Korea(56.2k)
Italy(50.8k)
Greece(31.5k)
Portugal(26.7k)
Japan(16.5k)
Spain(16.1k)
North Korea(12.5k)
France(8.6k)
Albania(6K)
Chile(3K)
Bosnia and Herzegovina(1K)
Azerbaijan(728)



	
List of Countries by Peanut Production

	China(16.6M)
	India(6.8M)
	Nigeria(3.8M)
	United States of America(2.5M)
	Sudan(1.8M)
	Myanmar(1.5M)
	Chad(1.2M)
	Argentina(1.0M)
	Cameroon(747K)
	Senegal(719K)
	Brazil(564K)
	Tanzania(550K)
	Indonesia(504K)
	Niger(453K)



	
List of Countries by Pistachio Production

    USA(421K)
	Turkey(310K)
	Iran(215K)
	Turkey(170K)
	China(83K)
	Syria(56K)
	Greece(6.3K)
	Italy(3.6K)
	Tunisia(3.4K)
	Afghanistan(2.8K)
	Spain(2.4K)
	Madagascar(1.7K)
	Australia(1.3K)
	Jordan(967K)
	Kyrgyzstan(947K)
	Uzbekistan(873K)

Sheanut

Nigeria(345K)
Mali(167K)
Burkina Faso(140K)
Ghana(33K)
Benin(14K)
Togo(13K)

Walnut

	
China(2.52M)	
United States(592K)
Iran(321K)		
Turkey(225K)	
Mexico(171K)	
Ukraine(125K)	
Chile(122K)		
Uzbekistan(50K)
Romania(49K)		
France(34K)	
India(34.1K)
Greece(31.0K)	
Egypt(24K)	
Germany(18.9K)
Argentina(18.4K)


Black Pepper Production

	
Ethiopia(374K)
Vietnam(264K)
Brazil(109K)
Indonesia(88K)
India(66K)
Bulgaria(53K)
Tajikistan(47K)
Sri Lanka(41K)
China(37K)
Malaysia(33K)
Mexico(9.3K)
Madagascar(4.5K)
Ghana(4.2K)
Rwanda(2.8K)
Cambodia(2.5K)
Thailand(2.2K)



Chili Pepper

	India(1.70M)
	Thailand(322.89K)
	China(307.59K)
	Ethiopia(295.98K)
	Bangladesh(157.61K)
	Pakistan(141.54K)
	Myanmar[Burma](140.98K)
	Benin(108.93K)
	Ghana(108.23K)


Cinnamon

1	Global(222.12K)
2	Indonesia(91.24K)
3	China(72.53K)
4	Vietnam(31.43K)
5	SriLanka(22.91K)
6	Madagascar(3.67K)
7	EastTimor(120)
8	Grenada(82)
9	São Tomé and Príncipe(58)
10	Dominica(56)
11  Seychelles(30)


Cloves

2	Indonesia(133.60K)
3	Madagascar(23.93K)
4	Tanzania(8.60K)
5	Comoros(6.80K)
6	SriLanka(6.71K)
7	Kenya(2.06K)
8	China(1.29K)
9	Malaysia(220.00)
10	Grenada(40.00)


Ginger Production
	
India(1.78M)	
Nigeria(691.2K)	
China(605.1K)	
Nepal(297.5K)
Indonesia(174.3K)
Thailand(166.9K)	
Cameroon(83.4K)	
Bangladesh(80.2K)
Japan(45.5K)	
Philippines(26.9K)	
Peru(25.8K)	
Taiwan(23.9K)
Mali(17.1K)	
Sri Lanka(15.6K)
Ethiopia(11.7K)	

Whole Nutmeg

2	Indonesia(42.34K)
3	India(41.00K)
4	Guatemala(38.61K)
5	Nepal(9.55K)
6	Sri Lanka(4.12K)
7	Laos(3.05K)
8	Bhutan(2.18K)
9	Tanzania(721.00)
10	Grenada(656.00)
    Honduras(456.00)



Top of Vanilla Produced

	1	Madagascar(3,926K)
	2	Indonesia(2,304K)
	3	China(885)
	4	Mexico(513)
	5	Papua New Guinea(502)
	6	Turkey(303)
	7	Uganda(211)
	8	Tonga(180)
	9	French Polynesia(24)
	10	Réunion(21)
	11	Malawi(20)
	12	Comoros(15)
	13	Kenya(14)
	14	Guadeloupe(11)
	15	Zimbabwe(10)


Top Countries in Garlic Production

		
China(23.3M)	
India(2.9M)	
Bangladesh(466K)
South Korea(387K)
Egypt(318K)
Spain(271K)
United States(237K)
Algeria(223K)
Uzbekistan(216K)
Ukraine(215K)
Myanmar(208K)
Russia(202K)
Ethiopia(152K)
Argentina(147K)
Brazil(131K)


Caviar

	
China(79.0)	
Belarus(71.4)	
Germany(52.7)	
United States(40.0)	
Japan(39.3)	
Italy(22.6)
France(18.3)
Denmark(18.3)
Iceland(12.9)	
Indonesia(12.2)
Russia(12.2)	
Sweden(11.9)
Kazakhstan(7.1)		
Belgium(7.0)	
Netherlands(4.7)


Cheese 


USA(6.317M)
Germany(2.338M)	
France(1.679M)
Italy(1.133M)
Netherlands(931K)	
Russia(745K)
Poland(738K)
Egypt(626K)
Canada(606K)	
Denmark(464K)	
Argentina(444K)
United Kingdom(410K)
New Zealand(390K)
Australia(338K)
Spain(338K)


Cocoa Beans 
	
Ivory Coast(2.18M)		
Ghana(811K)	
Indonesia(783K)		
Nigeria(350K)		
Ecuador(283K)		
Cameroon(280K)	
Brazil(259K)		
Peru(137K)
Colombia(102K)
Dominican Republic(88K)
Papua New Guinea(45K)	
Uganda(35K)	
Mexico(28K)
India(24K)
Venezuela(23K)	


Chicken Egg

China(31.3M)
USA(8.45M)
India(6.56M)
Indonesia(5.6M)
Brazil(4.5M)
Mexico(3.56M)
Japan(2.54M)
Russia(2.12M)
Turkey(1.2M)
Ukraine(953K)

Duck Egg


	China(4.86M)
	Thailand(400.00K)
	Indonesia(357.11K)
	Bangladesh(239.60K)
	Brazil(177.50K)
	Myanmar[Burma](55.00K)
	Philippines(50.48K)
	South Korea(32.00K)
	Russia(26.37K)
    Taiwan(15.21K)	


	Honey Production

China(447.0K)	
Turkey(109.3K)		
Canada(80.3K)		
Argentina(78.9K)	
Iran(75.4K)	
United States(71.1K)	
Ukraine(69.9K)	
India(67.1K)	
Russia(63.5K)
Mexico(61.9K)	
Ethiopia(53.7K)	
Brazil(45.9K)	
Spain(34.8K)	
Tanzania(30.9K)	
Hungary(30.4K)

Olive Oil Production
	
Spain(1.68M)
Greece(323.4K)		
Italy(287.5K)		
Tunisia(258.5K)	
Turkey(172.7K)	
Morocco(168.5K)		
Syria(126.3K)		
Portugal(121.4K)		
Algeria(93.5K)	
Lebanon(62.6K)		
Argentina(32.4K)	
Egypt(31.2K)		
Palestine(24.7K)		
Chile(22.9K)	
Australia(22.4K)


Tobacco

	China(2.80M)
	India(761K)
	Brazil(675K)
	United States of America(285K)
	Indonesia(196K)
	Zimbabwe(172K)
	Zambia(124K)
	Pakistan(116K)
	Tanzania(102K)
	Argentina(93K)
	Mozambique(92K)
	Bangladesh(87K)
	Malawi(84K)
	North Korea(82K)
	Turkey(70K)




Fiber	

Abaca (manila)

Philippines	
Ecuador	 
Costa Rica	 
Indonesia	 
Equatorial Guinea

Agave fibre	 

Colombia	 
Mexico	 
Nicaragua	 
Ecuador	 
Philippines

Bast fibre	 

India	 
Russia	 
China	 
Cuba	 
Chile


List of Countries by Cotton Production

    India(6.188M)
	China(6.178M)
	United States of America(3.593M)
	Pakistan(2.374M)
	Brazil(1.412M)
	Uzbekistan(1.10M)
	Australia(885K)
	Turkey(846K)
	Argentina(327K)
	Greece(308K)
	Mexico(302K)
	Burkina Faso(265K)
	Mali(232K)
	Turkmenistan(195K)
	Myanmar(168K)
	Côte d'Ivoire(132K)
	Tajikistan(123K)


	Flax Producing 

	1. Canada(872K)
	2. Kazakhstan(419K)
	3. China(387K)
	4. Russia(365K)
    5. USA(161K)
    6. India(141K)
    7. France(64K)
	8. Ukraine(25K)
    9. Argentina(16K)
    10. Italy(15K)


	Jute production

	1	India(708k)
	2	Bangladesh(298k)
	3	China(25k)
	4	Myanmar(9k)
	5	Uzbekistan(7k) 
	6	Nepal(6k) 
	7	VietNam(5k) 
	8	Thailand(1.8k)
	9	Sudan(1.2k)
	10	Egypt(821)	
	11	Brazil(658)		 
	12	Zimbabwe(560)	 
	13	Cambodia(242)
	14	Bhutan(131)
	15	Peru(80)	


	Rubber Net Production

Thailand(5.588M)
Indonesia(3.846M)
Vietnam(1.314M)
India(1.149M)
China(999K)
Malaysia(680K)
Philippines(440K)
Guatemala(427K)
Ivory Coast(392K)
Myanmar(286K)
Brazil(239K)
Nigeria(184K)
Sri Lanka(151K)
Liberia(82K)


Silk


World Silk Production by Country
Country	Production (Tons)	Production per Person (Kg)
	China(423k)
	India(211K)
	Uzbekistan(18.8K)
	Iran(14.7K)	
	Thailand(4.6K)	
	Brazil(3.5K)
	Vietnam(2.9K)
	Romania(1K)
	North Korea(905)	
	Afghanistan(679)	
	Azerbaijan(514)	
	Cambodia(158)
	Egypt(119)
	Kyrgyzstan(112)
	Japan(110)
	Spain(79)



	Sisal

	Brazil	 
	Tanzania	 
	Kenya	 
	Madagascar	 
	China



	wool 

	1. China(333.6K)
    2. Australia(283.7K)
    3. New Zealand(151.1K)
	4. Turkey(79.7K)
	5. United Kingdom And Northern Ireland(70.9K)
	6. Morocco(58.8K)
    7. Iran(58.3K)
	8. Russia(51.6K)
    9. South Africa(47.2K)
	10. India(45.8K)


	Kapok
	
	Indonesia	 
	Thailand	 
	India

	Ramie

	China	 
	Laos	 
	Taiwan	 
	Brazil	 
	Philippines

   

	Wood fuel1	 
	India
	China
	Taiwan
	Brazil
	Ethiopia
    DR Congo
    Nigeria 
	Indonesia
	Ghana 
	Uganda
	Mixico

	Wood-based panels3	 
	
	China	 
	United States	 
	Russia	 
	Germany	 
	Canada


	Sawn Wood Exports by Country
	
China(90.2M)		
United States(82.4M)
Russia(44.4M)		
Canada(42.4M)		
Germany(24.5M)		
Sweden(18.7M)	
Finland(11.3M)	
Austria(10.5M)		
Brazil(10.2M)
Japan(9.0M)
Turkey(8.3M)
Chile(8.1M)
France(7.8M)
India(6.8M)
Vietnam(6.0M)


Top Countries in Paperboard and Packaging Paper Production

China(68.4M)
United States(48.0M)
Japan(12.1M)	
Germany(12.1M)
India(10.0M)
South Korea(7.1M)
Brazil(6.2M)
Sweden(5.9M)	
Russia(5.9M)
Indonesia(5.7M)	
Italy(4.5M)
France(4.4M)
Finland(4.4M)
Mexico(3.9M)	
Spain(3.6M)	
 
 

Top Countries in Pulp for Paper Production
	

USA(50.95M)		
Brazil(19.75M)	
China(18.92M)	
Canada(16.23M)		
Finland(11.60M)	
Sweden(11.59M)	
Japan(8.39M)	
Russia(8.32M)		
Indonesia(8.18M)	
India(6.12M)	
Chile(5.29M)	
Portugal(2.67M)	
Uruguay(2.61M)		
Germany(2.42M)		
Spain(1.76M)	