
<div class="w3-container w3-col m6 w3-hide-large w3-hide-medium">
<h5><b><i class="fa fa-dashboard"></i>Cereal</b></h5>
</div>
<table class="w3-table w3-hide-large w3-hide-medium">
<tr>
<td class="w3-center"><i><%=link_to(image_tag("fiber-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),fiber_path)%></i>
<p><b><%=link_to"Fiber",fiber_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("Abaca_fiber-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),abaca_fiber_path)%></i>
<p><b><%=link_to"Abaca Fiber",abaca_fiber_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("Agave_fiber-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),agave_fiber_path)%></i>
<p><b><%=link_to"Agave Fiber",agave_fiber_path%></b></p></td>
</tr>
<tr>
<td class="w3-center"><i><%=link_to(image_tag("Bast_fiber-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),bast_fiber_path)%></i>
<p><b><%=link_to"Bast Fiber",bast_fiber_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("Flax_fiber-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),flax_fiber_path)%></i>
<p><b><%=link_to"Flax Fiber",flax_fiber_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("jute_fiber-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),jute_fiber_path)%></i>
<p><b><%=link_to"Jute Fiber",jute_fiber_path%></b></p></td>
</tr>
<tr>
<td class="w3-center"><i><%=link_to(image_tag("kapok_fiber-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),kapok_fiber_path)%></i>
<p><b><%=link_to"Kapok Fiber",kapok_fiber_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("ramie_fiber-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),ramie_fiber_path)%></i>
<p><b><%=link_to"Ramie Fiber",ramie_fiber_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("rubber-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),rubber_fiber_path)%></i>
<p><b><%=link_to"Sheep Milk",rubber_fiber_path%></b></p></td>
</tr>
<tr>
<td class="w3-center"><i><%=link_to(image_tag("silk-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),silk_fiber_path)%></i>
<p><b><%=link_to"Silk",silk_fiber_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("sisal_fiber-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),sisal_fiber_path)%></i>
<p><b><%=link_to"Sheep Milk",sisal_fiber_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("wool-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),wool_path)%></i>
<p><b><%=link_to"Sheep Milk",wool_path%></b></p></td>
</tr>
</table>

<div class="w3-container w3-col m6 w3-hide-large w3-hide-medium">
<h5><b><i class="fa fa-dashboard"></i>Cereal</b></h5>
</div>
<table class="w3-table w3-hide-large w3-hide-medium">
<tr>
<td class="w3-center"><i><%=link_to(image_tag("fish-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),fish_path)%></i>
<p><b><%=link_to"Fish",fish_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("oysters-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),oyster_path)%></i>
<p><b><%=link_to"Sheep Milk",oyster_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("sea_weed-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),sea_weed_path)%></i>
<p><b><%=link_to"Sheep Milk",sea_weed_path%></b></p></td>
</tr>
<tr>
<td class="w3-center"><i><%=link_to(image_tag("caviar-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),caviar_path)%></i>
<p><b><%=link_to"Caviar",caviar_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("crab-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),crab_path)%></i>
<p><b><%=link_to"Crab",crab_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("lobsters-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),lobsters_path)%></i>
<p><b><%=link_to"Lobsters",lobsters_path%></b></p></td>
</tr>
<tr>
<td class="w3-center"><i><%=link_to(image_tag("Clam-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),clam_path)%></i>
<p><b><%=link_to"Clam",clam_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("oysters-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),oyster_path)%></i>
<p><b><%=link_to"Oyster",oyster_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("Octopus-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),octopus_path)%></i>
<p><b><%=link_to"Octopus",octopus_path%></b></p></td>
</tr>
<tr>
<td class="w3-center"><i><%=link_to(image_tag("squid-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),squid_path)%></i>
<p><b><%=link_to"Squid",squid_path%></b></p></td>
<td class="w3-center"><i><%=link_to(image_tag("shrimps-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x50",style: "width:60%;"),shrimps_path)%></i>
<p><b><%=link_to"Shrimps",shrimps_path%></b></p></td>
</tr>
</table>
