<div class="w3-container w3-col m6">
<h5><b><i class="fa fa-dashboard"></i>Cereal</b></h5>
</div>


<div class="cerals w3-hide-small">

<div class="w3-row-padding w3-margin-bottom">
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("apple-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),apple_path)%></i>
<h4><b><%=link_to"Apple",apple_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("apricot-min.jpg" ,class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),apricot_path)%></i>
<h4><b><%=link_to"Apricot" ,apricot_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("avocado-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),avocado_path)%></i>
<h4><b><%=link_to"Avocado",avocado_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("banana-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),banana_path)%></i>
<h4><b><%=link_to"Banana",banana_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("blackcurrant-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),blackcurrant_path)%></i>
<h4><b><%=link_to"Blackcurrant",blackcurrant_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("blackberry-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),blackberry_path)%></i>
<h4><b><%=link_to"Blackberry",blackberry_path%></b></h4>
</div>
</div>
</div>
</div>

<div class="w3-row-padding w3-margin-bottom">
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("blueberry-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),blueberry_path)%></i>
<h4><b><%=link_to"Blueberry",blueberry_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("cherry-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),cherry_path)%></i>
<h4><b><%=link_to"Cherry",cherry_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("coconut-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),coconut_path)%></i>
<h4><b><%=link_to"Coconut",coconut_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("currant-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),currant_path)%></i>
<h4><b><%=link_to"Currant",currant_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("custard_apple-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),custard_apple_path)%></i>
<h4><b><%=link_to"CustardApple",custard_apple_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("date-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),date_path)%></i>
<h4><b><%=link_to"Date",date_path%></b></h4>
</div>
</div>
</div>
</div>

<div class="w3-row-padding w3-margin-bottom">
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("dragon-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),dragon_fruit_path)%></i>
<h4><b><%=link_to"Dragonfruit",dragon_fruit_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("fig-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),fig_path)%></i>
<h4><b><%=link_to"Fig",fig_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("gooseberry-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),gooseberry_path)%></i>
<h4><b><%=link_to"Gooseberry",gooseberry_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("grape-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),grape_path)%></i>
<h4><b><%=link_to"Grape",grape_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("guava-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),guava_path)%></i>
<h4><b><%=link_to"Guava",guava_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("jackfruit-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),jackfruit_path)%></i>
<h4><b><%=link_to"Jackfruit",jackfruit_path%></b></h4>
</div>
</div>
</div>
</div>


<div class="w3-row-padding w3-margin-bottom">
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("kiwi-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),kiwifruit_path)%></i>
<h4><b><%=link_to"kiwi",kiwifruit_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("lemon-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),lemons_path)%></i>
<h4><b><%=link_to"Leamon",lemons_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("mango-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),mango_path)%></i>
<h4><b><%=link_to"Mango",mango_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("mangosteen-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),mangosteen_path)%></i>
<h4><b><%=link_to"Mangosteen",mangosteen_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("muskmelon-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),muskmelon_path)%></i>
<h4><b><%=link_to"Muskmelon",muskmelon_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("olive-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),olive_path)%></i>
<h4><b><%=link_to"Olive",olive_path%></b></h4>
</div>
</div>
</div>
</div>


<div class="w3-row-padding w3-margin-bottom">
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("orange-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),oranges_path)%></i>
<h4><b><%=link_to"Orange",oranges_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("papaya-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),papaya_path)%></i>
<h4><b><%=link_to"Papaya",papaya_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("passionfruit-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),passion_fruit_path)%></i>
<h4><b><%=link_to"Passionfruit",passion_fruit_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("peach-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),peach_path)%></i>
<h4><b><%=link_to"Peach",peach_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("pear-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),pear_path)%></i>
<h4><b><%=link_to"Pear",pear_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("pineapple-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),pineapple_path)%></i>
<h4><b><%=link_to"Pineapple",pineapple_path%></b></h4>
</div>
</div>
</div>
</div>

<div class="w3-row-padding w3-margin-bottom">
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("plums-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),plums_path)%></i>
<h4><b><%=link_to"Plums",plums_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("pomegranate-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),pomegranate_path)%></i>
<h4><b><%=link_to"Pomegranate",pomegranate_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("quince-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),quince_path)%></i>
<h4><b><%=link_to"Quince",quince_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("raspberry-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),raspberry_path)%></i>
<h4><b><%=link_to"Raspberry",raspberry_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("strawberrie-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),strawberry_path)%></i>
<h4><b><%=link_to"Strawberrie",strawberry_path%></b></h4>
</div>
</div>
</div>
<div class="w3-col m2">
<div class="w3-container w3-padding-16">
<div class="w3-center">
<i><%=link_to(image_tag("watermelon-min.jpg",class: "img-responsive",class: 'w3-hover-opacity img-circle',:size => "50x120",style: "width:70%;"),watermelon_path)%></i>
<h4><b><%=link_to"Watermelon",watermelon_path%></b></h4>
</div>
</div>
</div>
</div>

</div>