<!DOCTYPE html>
<html>
<head>
<title>Eximsquare</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa-fw {
    width: 0.285714em;
    text-align: center;
}
</style>
</head>
<body id="myPage">

<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px"> 
<div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m4">
      <!-- Profile -->
      <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
          <%=image_tag ("yam-min.jpg"),:size => "100x100" %>
         
           <h4>Yam Crop</h4>
         <p><i class='fa fa fa-dollar fa-fw w3-margin-right' style='color:green'></i>Global Market Value $6.2 billion USD</p>
         <p><i class='fa fa-line-chart fa-fw w3-margin-right' style='color:green'></i>Growth rate per Year 1%</p>
         <p><i class='fa fa-bullseye fa-fw w3-margin-right' style='color:green'></i>worldwide cultivation area 4 million hectares</p>
        </div>
        </div>
 
      </div>
      
      <div class="w3-col m8">
     <div class="w3-container">
      <div class="w3-panel w3-card w3-white w3-padding-16">
      
         
         <p><i></i>Like any crop, yam production can be subject to various risks, including weather conditions, pests and diseases, market volatility, and supply chain disruptions. Yams can be affected by various pests and diseases, such as nematodes, scab, and yam mosaic virus, which can reduce yields and quality.
However, the export potential of yams can also be affected by various factors, including competition from other producers, trade policies, transportation costs, and quality and safety standards. Yam producers must comply with regulations and certifications to ensure the quality and safety of their products. They must also identify potential export markets and develop a strategic plan to optimize their export potential.
.</p>
         
        </div>
      </div>

      </div>

      <br>
      
    

</div>  
</div>



<div class="w3-row">
<div class="w3-container w3-panel w3-col m5">
    <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Top Yam Crop Import Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>USA </td><td> 15.3%</td></tr>
<tr><td>UK </td><td> 12.7%</td></tr>
<tr><td>Canada </td><td> 9.8%</td></tr>
<tr><td>France </td><td> 7.6%</td></tr>
<tr><td>Belgium </td><td> 6.1%</td></tr>
<tr><td>Germany </td><td> 4.5%</td></tr>
<tr><td>Netherlands </td><td> 4.4%</td></tr>
<tr><td>Spain </td><td> 4.2%</td></tr>
<tr><td>Trinidad and Tobago </td><td> 3.5%</td></tr>
<tr><td>China </td><td> 3.3%</td></tr>
<tr><td>Japan </td><td> 3.1%</td></tr>
<tr><td>Italy </td><td> 2.8%</td></tr>
<tr><td>United Arab Emirates </td><td> 2.4%</td></tr>
<tr><td>Switzerland </td><td> 2.2%</td></tr>
<tr><td>Saudi Arabia </td><td> 2.1%</td></tr>
<tr><td>Israel </td><td> 2.0%</td></tr>
<tr><td>Denmark </td><td> 1.9%</td></tr>
<tr><td>Russia </td><td> 1.7%</td></tr>
<tr><td>Norway </td><td> 1.6%</td></tr>
<tr><td>Austria </td><td> 1.5%</td></tr>
</table>
</div>

<div class="w3-container w3-panel w3-col m5  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Yam Crop Export Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Ghana </td><td> 44.7%</td></tr>
<tr><td>Nigeria </td><td> 42.6%</td></tr>
<tr><td>Cote d'Ivoire </td><td> 6.1%</td></tr>
<tr><td>Togo </td><td> 1.6%</td></tr>
<tr><td>Benin </td><td> 1.2%</td></tr>
<tr><td>Cameroon </td><td> 1.1%</td></tr>
<tr><td>Burkina Faso </td><td> 0.7%</td></tr>
<tr><td>Senegal </td><td> 0.6%</td></tr>
<tr><td>Central African Republic </td><td> 0.3%</td></tr>
<tr><td>Guinea </td><td> 0.3%</td></tr>
<tr><td>Gabon </td><td> 0.3%</td></tr>
<tr><td>Liberia </td><td> 0.2%</td></tr>
<tr><td>Mali </td><td> 0.2%</td></tr>
<tr><td>Sierra Leone </td><td> 0.2%</td></tr>
<tr><td>Niger </td><td> 0.1%</td></tr>
<tr><td>Tanzania </td><td> 0.1%</td></tr>
<tr><td>Equatorial Guinea </td><td> 0.1%</td></tr>
<tr><td>Kenya </td><td> 0.1%</td></tr>
<tr><td>Egypt </td><td> 0.1%</td></tr>
<tr><td>South Africa </td><td> 0.1%</td></tr>
</table>
</div>
</div>

<div class="w3-row">
 <div class="w3-responsive w3-container w3-panel w3-col m6  w3-center">

  <table class="w3-table-all w3-table-sm">
    <thead>
    <tr><th colspan="4"><div class="w3-center">Most Reasonable Yam Crop Price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>Nigeria </td><td> $1.80/kg</td><td> $0.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ghana </td><td> $1.70/kg</td><td> $0.77/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cameroon </td><td> $1.60/kg</td><td> $0.73/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Togo </td><td> $1.50/kg</td><td> $0.68/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Benin </td><td> $1.40/kg</td><td> $0.64/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cote d'Ivoire </td><td> $1.30/kg</td><td> $0.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Guinea </td><td> $1.20/kg</td><td> $0.55/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Liberia </td><td> $1.10/kg</td><td> $0.50/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Sierra Leone </td><td> $1.00/kg</td><td> $0.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Uganda </td><td> $0.90/kg</td><td> $0.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kenya </td><td> $0.80/kg</td><td> $0.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Tanzania </td><td> $0.70/kg</td><td> $0.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Zambia </td><td> $0.60/kg</td><td> $0.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Malawi </td><td> $0.50/kg</td><td> $0.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Zimbabwe </td><td> $0.40/kg</td><td> $0.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Mozambique </td><td> $0.30/kg</td><td> $0.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Indonesia </td><td> $0.20/kg</td><td> $0.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Vietnam </td><td> $0.10/kg</td><td> $0.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Cambodia </td><td> $0.05/kg</td><td> $0.02/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Philippines </td><td> $0.01/kg</td><td> $0.005/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>


<div class=" w3-responsive w3-container w3-panel w3-col m6  w3-center">
  <table class="w3-table-all w3-table-sm ">
    <thead>
      <tr><th colspan="4"><div class="w3-center">Most Increased Yam Crop price in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
          <th>Kg</th>
        <th>Pound</th>
        <th>Present Markdown</th>
      </tr>
    </thead>
<tr><td>USA </td><td> $4.50/kg</td><td> $2.04/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>UK </td><td> $3.90/kg</td><td> $1.77/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Canada </td><td> $3.80/kg</td><td> $1.72/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Germany </td><td> $3.50/kg</td><td> $1.59/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>France </td><td> $3.20/kg</td><td> $1.45/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Italy </td><td> $3.10/kg</td><td> $1.41/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Japan </td><td> $3.00/kg</td><td> $1.36/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Australia </td><td> $2.90/kg</td><td> $1.32/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>South Korea </td><td> $2.80/kg</td><td> $1.27/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Singapore </td><td> $2.70/kg</td><td> $1.23/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>United Arab Emirates </td><td> $2.60/kg</td><td> $1.18/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Saudi Arabia </td><td> $2.50/kg</td><td> $1.14/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Kuwait </td><td> $2.40/kg</td><td> $1.09/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Qatar </td><td> $2.30/kg</td><td> $1.05/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Oman </td><td> $2.20/kg</td><td> $1.00/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Bahrain </td><td> $2.10/kg</td><td> $0.95/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>China </td><td> $2.00/kg</td><td> $0.91/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>India </td><td> $1.90/kg</td><td> $0.86/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Nigeria </td><td> $1.80/kg</td><td> $0.82/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>
<tr><td>Ghana </td><td> $1.70/kg</td><td> $0.77/lb</td><td><%value =[-1,-2,-3,-4,-5,-6,+1,+2,+3,+4,+5,+6,+7,+8,+9].sample.to_i%>
<% if value > 0 %>
<p class="glyphicon glyphicon-arrow-up"style='color:green'><%= p value %></p>
<%else%>
<p class="glyphicon glyphicon-arrow-down"style='color:red'><%= p value%></p>
<%end%></td></tr>


</table>
</div>
</div>


<div class="w3-row">

<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Yam Crop growing countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Nigeria </td><td> 69.5%</td></tr>
<tr><td>Ghana </td><td> 16.1%</td></tr>
<tr><td>Côte d'Ivoire </td><td> 3.6%</td></tr>
<tr><td>Benin </td><td> 2.2%</td></tr>
<tr><td>Cameroon </td><td> 2.2%</td></tr>
<tr><td>Togo </td><td> 1.9%</td></tr>
<tr><td>Guinea </td><td> 1.1%</td></tr>
<tr><td>Central African Republic </td><td> 0.4%</td></tr>
<tr><td>Gabon </td><td> 0.4%</td></tr>
<tr><td>Sierra Leone </td><td> 0.2%</td></tr>
<tr><td>Congo </td><td> 0.2%</td></tr>
<tr><td>Liberia </td><td> 0.2%</td></tr>
<tr><td>Tanzania </td><td> 0.1%</td></tr>
<tr><td>Angola </td><td> 0.1%</td></tr>
<tr><td>Kenya </td><td> 0.1%</td></tr>
<tr><td>Burkina Faso </td><td> 0.1%</td></tr>
<tr><td>Zambia </td><td> 0.1%</td></tr>
<tr><td>Uganda </td><td> 0.1%</td></tr>
<tr><td>Rwanda </td><td> 0.1%</td></tr>
<tr><td>Madagascar </td><td> 0.1%</td></tr>
</table>
</div>


<div class=" w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">The Season for Fresh Yam Crop Growing in Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>    
<tr><td>Ghana </td><td> March to November</td></tr>
<tr><td>Nigeria </td><td> February to July</td></tr>
<tr><td>Togo </td><td> April to August</td></tr>
<tr><td>Benin </td><td> April to August</td></tr>
<tr><td>Cameroon </td><td> February to September</td></tr>
<tr><td>Ivory Coast </td><td> March to September</td></tr>
<tr><td>Burkina Faso </td><td> June to October</td></tr>
<tr><td>Sierra Leone </td><td> March to October</td></tr>
<tr><td>Senegal </td><td> June to November</td></tr>
<tr><td>Guinea </td><td> March to September</td></tr>
<tr><td>Central African Republic </td><td> April to September</td></tr>
<tr><td>Mali </td><td> June to October</td></tr>
<tr><td>Congo </td><td> May to October</td></tr>
<tr><td>Liberia </td><td> April to August</td></tr>
<tr><td>Chad </td><td> May to October</td></tr>
<tr><td>Kenya </td><td> December to April</td></tr>
<tr><td>Uganda </td><td> March to May and August to November</td></tr>
<tr><td>Zimbabwe </td><td> August to November</td></tr>
<tr><td>Rwanda </td><td> March to June - September to December</td></tr>
<tr><td>Madagascar </td><td> October to January - March to June</td></tr>

</table>
</div>



<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Topmost Popular Countries for Yam Crop</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Nigeria </td><td> 68.8%</td></tr>
<tr><td>Ghana </td><td> 8.2%</td></tr>
<tr><td>Côte d'Ivoire </td><td> 5.2%</td></tr>
<tr><td>Togo </td><td> 3.5%</td></tr>
<tr><td>Benin </td><td> 3.3%</td></tr>
<tr><td>Cameroon </td><td> 3%</td></tr>
<tr><td>Guinea </td><td> 1.5%</td></tr>
<tr><td>Burkina Faso </td><td> 1.2%</td></tr>
<tr><td>Central African Republic </td><td> 0.9%</td></tr>
<tr><td>Sierra Leone </td><td> 0.5%</td></tr>
<tr><td>Senegal </td><td> 0.5%</td></tr>
<tr><td>Mali </td><td> 0.4%</td></tr>
<tr><td>Congo </td><td> 0.2%</td></tr>
<tr><td>Liberia </td><td> 0.2%</td></tr>
<tr><td>Uganda </td><td> 0.2%</td></tr>
<tr><td>Angola </td><td> 0.1%</td></tr>
<tr><td>Gabon </td><td> 0.1%</td></tr>
<tr><td>Rwanda </td><td> 0.1%</td></tr>
<tr><td>Zambia </td><td> 0.1%</td></tr>
<tr><td>Madagascar </td><td> 0.1%</td></tr>
</table>
</div>
</div>


<div class="w3-row">

<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
     <tr><th colspan="2"><div class="w3-center">Less popular Countries for Yam Crop<div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Kazakhstan </td><td> 0.8%</td></tr>
<tr><td>Romania </td><td> 0.6%</td></tr>
<tr><td>Iran </td><td> 0.6%</td></tr>
<tr><td>Belarus </td><td> 0.4%</td></tr>
<tr><td>Egypt </td><td> 0.4%</td></tr>
<tr><td>Bulgaria </td><td> 0.4%</td></tr>
<tr><td>Ukraine </td><td> 0.4%</td></tr>
<tr><td>Uzbekistan </td><td> 0.3%</td></tr>
<tr><td>Pakistan </td><td> 0.3%</td></tr>
<tr><td>Turkey </td><td> 0.3%</td></tr>
<tr><td>Algeria </td><td> 0.3%</td></tr>
<tr><td>Iraq </td><td> 0.3%</td></tr>
<tr><td>China </td><td> 0.3%</td></tr>
<tr><td>Syria </td><td> 0.3%</td></tr>
<tr><td>Morocco </td><td> 0.2%</td></tr>
<tr><td>Jordan </td><td> 0.2%</td></tr>
<tr><td>Tunisia </td><td> 0.2%</td></tr>
<tr><td>Greece </td><td> 0.2%</td></tr>
<tr><td>Lebanon </td><td> 0.1%</td></tr>
<tr><td>Saudi Arabia </td><td> 0.1%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Top Yam Crop Consuming Countries</div></th></tr>
      <tr class="w3-green">
        <th>Country Name</th>
        <th>Percentage</th>
      </tr>
    </thead>
<tr><td>Nigeria </td><td> 74.4%</td></tr>
<tr><td>Ghana </td><td> 7.8%</td></tr>
<tr><td>Côte d'Ivoire </td><td> 4.4%</td></tr>
<tr><td>Benin </td><td> 2.9%</td></tr>
<tr><td>Togo </td><td> 2.2%</td></tr>
<tr><td>Cameroon </td><td> 1.8%</td></tr>
<tr><td>Burkina Faso </td><td> 1.5%</td></tr>
<tr><td>Guinea </td><td> 1.1%</td></tr>
<tr><td>Central African Republic </td><td> 1%</td></tr>
<tr><td>Senegal </td><td> 0.9%</td></tr>
<tr><td>Sierra Leone </td><td> 0.7%</td></tr>
<tr><td>Liberia </td><td> 0.6%</td></tr>
<tr><td>Mali </td><td> 0.5%</td></tr>
<tr><td>Congo </td><td> 0.5%</td></tr>
<tr><td>Gabon </td><td> 0.4%</td></tr>
<tr><td>Zambia </td><td> 0.3%</td></tr>
<tr><td>Uganda </td><td> 0.3%</td></tr>
<tr><td>Chad </td><td> 0.3%</td></tr>
<tr><td>Angola </td><td> 0.3%</td></tr>
<tr><td>Madagascar </td><td> 0.3%</td></tr>
</table>
</div>


<div class="w3-container w3-panel w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
    <tr><th colspan="2"><div class="w3-center">Yam Crop Import Companies</div></th></tr>
      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Elite Export UK Ltd </td><td> UK</td></tr>
<tr><td>Alliance Zone Inc. </td><td> USA</td></tr>
<tr><td>Samba Foods Ltd. </td><td> Ghana</td></tr>
<tr><td>Alimansur Global Ventures </td><td> Nigeria</td></tr>
<tr><td>Kanayama Trading Co. Ltd. </td><td> Japan</td></tr>
<tr><td>Pinnacle Group </td><td> South Africa</td></tr>
<tr><td>Bismillah Global Traders </td><td> Pakistan</td></tr>
<tr><td>A&G Exporters </td><td> India</td></tr>
<tr><td>Darlington Farm Nigeria Limited </td><td> Nigeria</td></tr>
<tr><td>ETG Commodities Inc. </td><td> Canada</td></tr>
<tr><td>Global Union Ventures Limited </td><td> Ghana</td></tr>
<tr><td>Chalyvin Export Limited </td><td> Nigeria</td></tr>
<tr><td>BDF Foods </td><td> UK</td></tr>
<tr><td>NBJ Import and Export </td><td> Canada</td></tr>
<tr><td>Royal Bhutan Agro Industries Limited </td><td> Bhutan</td></tr>
<tr><td>Dayboll Group Pty Ltd </td><td> Australia</td></tr>
<tr><td>Premier Exports International </td><td> USA</td></tr>
<tr><td>Somita Ventures </td><td> Ghana</td></tr>
<tr><td>Sahel Trade & Agri Services </td><td> Senegal</td></tr>
<tr><td>Eastrade International Limited </td><td> UK</td></tr>

</table>
</div>
</div>

<div class="w3-row">
<div class="w3-container  w3-col m4  w3-center">
  <table class="w3-table-all ">
    <thead>
        <tr><th colspan="2"><div class="w3-center">Yam Crop Export Companies</div></th></tr>

      <tr class="w3-green">
        <th>Company Name</th>
        <th>Country</th>
      </tr>
    </thead>
<tr><td>Yamco </td><td> Ghana</td></tr>
<tr><td>La Fortuna </td><td> Peru</td></tr>
<tr><td>Bonafruits </td><td> Costa Rica</td></tr>
<tr><td>Yamtopia </td><td> Nigeria</td></tr>
<tr><td>FELITSA </td><td> Brazil</td></tr>
<tr><td>Nile Farms </td><td> Egypt</td></tr>
<tr><td>Farmcom Foods </td><td> USA</td></tr>
<tr><td>YAMS Group </td><td> Cameroon</td></tr>
<tr><td>Sunshine Coast Yam </td><td> Australia</td></tr>
<tr><td>C.O. Williams </td><td> Barbados</td></tr>
<tr><td>Qualipro </td><td> France</td></tr>
<tr><td>Nuestra Señora del Pilar </td><td> Mexico</td></tr>
<tr><td>Bejo Zaden </td><td> Netherlands</td></tr>
<tr><td>Delta Agrar </td><td> Serbia</td></tr>
<tr><td>Kiwi Produce </td><td> New Zealand</td></tr>
<tr><td>Shivshakti Agro </td><td>India</td></tr>
<tr><td>Seed Co. Limited </td><td> Zimbabwe</td></tr>
<tr><td>Lobi Stars </td><td> Ivory Coast</td></tr>
<tr><td>HZPC Holland BV </td><td> Netherlands</td></tr>
<tr><td>West Central Produce </td><td> USA</td></tr>

</table>
</div>
<div class="w3-container w3-col m8  w3-center">
<div class="w3-center  w3-white w3-panel"><h3>Yam Crop Current Trend</h3></div> 

<div class="w3-panel w3-card w3-white w3-padding-16">Increase in demand for yams due to its health benefits.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Rising popularity of yam chips and fries as a snack food.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Expansion of yam cultivation in new regions with suitable climate.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Adoption of modern farming techniques to improve yam yields and quality.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Government initiatives to support yam farmers and promote yam exports.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Use of yam flour as a gluten-free alternative in the food industry.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Development of new yam varieties with better disease resistance and yield potential.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growth of organic yam farming as a niche market.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Increase in yam processing and value-added products.</div>
<div class="w3-panel w3-card w3-white w3-padding-16">Growing interest in yam as a sustainable and climate-resilient crop.</div>


</div>




</div>


<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Follow Us</h4>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p>Powegreen by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>





